body {
    font-family: 'Inter', serif;
    font-weight: 500;
}

.header_ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.header_ img{
    height: 3rem;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format(truetype);
}

.dd-btn {
    width: 40px;
    height: 20px;
    display: none;
    border: none;
    background-color: white;
    background-image: url(assets/images/icon-menu.svg);
    margin-top: 16px;
    
}

.nav_links ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 10px;
    font-weight: 700;
    color: rgb(171, 171, 171);
    transition: all .2s ease-in-out;
}

.nav_links ul li {
    padding: 15px;
}

.nav_links ul li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.cover {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 35rem;
}

.right_ {
    display: flex;
}

.btn2 {
    padding: 13px;
    width: 150px;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: all .2s ease-in-out;

}

button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.cover_img{
    background-image: url(assets/images/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 24rem;
    
}

.right {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.left {
    border: 1px solid black;
    padding: 40px;
    background-color: hsl(240, 100%, 5%);
    color: gray;
}

.left h1{
    color: hsl(35, 77%, 62%);
}

.left h3{
    color: hsl(36, 100%, 99%);
    transition: all .2s ease-in-out;
}

.left h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

p{
    font-family: 'Inter';
    font-size: 1.1rem;
    color: hsl(236, 13%, 42%);
}

.body_ {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.body1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.txt {
    width: 15rem;
    
} 

.txt .span2{
    font-size: 25px;
    color: hsl(240, 100%, 5%);
    font-weight: 650;
}

.txt h2:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.txt span {
    font-size: 2.5rem;
    color: hsl(233, 8%, 79%);
    font-weight: 600;
}

.txt p {
    font-size: 1.1rem;
    color: hsl(236, 13%, 42%);
}

h4 {
    font-size: 2.5rem;
    color: gray;
    text-align: start;
}

h1 {
    font-size: 2.5rem;
}

.p {
    font-size: 1.5rem;
}

h2 {
    color: hsl(240, 100%, 5%);
}

@media screen and (max-width: 700px) {
    .header_ img{
        height: 1.8rem;
        padding: 20px;
    }
    .nav_links{
        position: absolute;
        display: none;
    }
    .nav_links ul {
        display: flex;
        flex-direction: column;
        color: hsl(240, 100%, 5%);
        gap: 15px;
        padding: auto;
    }
    .dd {
        position: relative;
        display: inline-block;
    }
    .dd:hover >.dd-btn {
        background-image: url(assets/images/icon-menu-close.svg);
        background-color: white;
        width: 50px;
        height: 60px;
        background-repeat: no-repeat;
    }
    .dd:hover >.nav_links {
        display: block;
        background-color: white;
        width: 16rem;   
        margin-left: -11rem;
        height: 100vh;
    }
    .dd-btn {
        display: block;
    }
    .right_ {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 10px;
        /* margin: 0 0 30px 0; */
    }
    .cover_img {
        background-image: url(assets/images/image-web-3-mobile.jpg);
        background-repeat: no-repeat;
        height: 18rem;
        margin: 0;
        width: 19rem;
        /* aspect-ratio: 686, 600; */
    }
    .right h1 {
        font-size: 2.6rem;
        font-weight: 900;
    }
    .cover {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0;
    }
    .body_ {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }
    .body1 {
        margin: 5px;
    }
    .body1 img {
        width: 7rem;
    }
    .txt {
        width: 10rem;
        height: 4rem;
    }
    .txt .span2{
        font-size: 18px;
        color: hsl(240, 100%, 5%);
        font-weight: 800;
    }
    .txt p{
        font-size: 13px;
        font-weight: 650;
    }
    .txt span{
        font-size: 32px;
    }
    .txt span h2{
        font-size: 15px;
    }
}